.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ProfilePic {
  border-radius: 50%;
  border: 1px white solid;
  width: 150px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background-color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media(max-width: 747px) {

  .projectImg {
    max-width: 300px;
  } 
}

html, body {
  margin: 0; height: 100%; overflow: hidden
}

ul {
  list-style: none;
  margin: 10px;
}

ul li {
  margin: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link:hover {
  text-decoration: none;
}

/* EFFET SOULIGNAGE */

.link:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.link:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.brand-container {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.reseaux {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}

.homeBtn {
  transition: transform .2s;

}
.homeBtn:hover {
  transform: scale(1.1);
}